body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}


header {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}


main {
    padding: 20px;
    padding-top: 70px; /* Add padding to the top to account for the header height */
}


button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}