
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292c2f;
  text-align: center;
  line-height: 10px;
  padding: 5px 0;
}


.contact {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 text-align: center;
 font-size: 25px;
}

.footer ul {
 display: inline-block;
 padding: 0 15px;
}

button {
   background-color: #04AA6D;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
 }
 
 button:hover {
   opacity: 0.8;
 }
   
 .imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   
 }

 .form-control {
  background-color: #aeacac;
  }
 
 .container {
   padding: 16px;
 }
