ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292c2f;
}

li {
display: flex;
align-items: center;
flex-wrap: wrap;
  float: left;
}

li a {
  display: block;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: #d1d2d2;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}

li .active:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}