nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #292c2f;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292c2f;
}

li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Ensure items do not wrap */
}

li a, li button {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

li a:hover, li button:hover {
  color: #d1d2d2;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}

li .active:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}